/*Entire Website*/
html,body
{
    
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#Content
{
    flex: 1;
}


/*Header*/

#Title 
{
    margin-left: 2%;
    width: 30%;
}


header 
{
    height: 10%;
    width: 100%;
    color: white;
    margin-top: -2.2%;
    padding-top: 2%;
    background-color: #4585CF;
}


a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: white;
    text-decoration: none;
}


#Log
{
    position:relative;
    width: 20%;
    margin-top: -4%;
    margin-left: 90%;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
}


/*Display*/
#Display
{
    width: 100%;
    height: 800px;
    background-image: url(Images/Background.jpg);
    margin: 0px;
    padding-top: 2%;
    
}

#DisplayText
{
    width: 40%;
    margin: auto;
    color: white;
    text-shadow: 0px 1px 5px #4585CF;
    font-size: 3em;
    text-align: center;
}



/*Forms*/

.LogForm
{
    width: 30%;
    margin: auto;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
}

#FormTitle
{
    color: white;
    background-color: #4585CF;
    border-radius: 6px;
    margin-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}

.FormEl
{
    margin-bottom: 10%;
}


#MainForm 
{
   width: 40%;
   margin: auto;
   margin-top: 2%;
}

#SubSpace 
{
    text-align: center;
    margin-top: 10px;
}

.SubBtn
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.SubBtn:hover
{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;  
}

.TextInput
{
    display: block;
    width: 80%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: auto;
}

label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.Invalid{
    display: block;
    width: 80%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: auto;
}




/*Footer*/



footer
{
    padding: 0.5%;
    color: white;
    height: 10%;
    font-size: 18px;
    background-color: #4585CF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}